
<div class="dropdown">
  <span>
    <input
      [formControl]="queryField"
      type="text"
      name="term"
      placeholder="hover me & type ex:Jazz"
      autocomplete="off"
      autofocus
    />
    <div class="dropdown-content" >
      <ul class="dropdown-list" *ngIf="results?.length > 0; else notfound">
        <li
          *ngFor="let result of results; let i = index"
          [value]="i + 1"
          (click)="onSelect(result)"
        >
          {{ results[i].category }}
        </li>
      </ul>
      <ng-template #notfound>
          <p>result not found</p>
        </ng-template>
    </div>
  </span>
</div>
<button class="submitbtn" (click)="submitSearch()">Search</button>
