<div class="page">
  <div class="page-header">
    <h3>iTunes Top 10 Songs</h3>
  </div>
  <div class="page-body">
    <div class="search">
      <app-itune-search> </app-itune-search>
    </div>
    <div class="page-sub-body">
      <div class="page-body__sidebar">
        <app-itune-search-list></app-itune-search-list>
      </div>
      <div class="page-body__details">
        <nav>
          <a routerLink="/record-label">Record Label</a>
          <a routerLink="/artist">Artist</a>
          <a routerLink="/price">Price</a>
        </nav>
        <div class="child-container">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
  <div class="page-footer">
      <p class="copyright-text">Copyright &copy; 2019 All Rights Reserved by
          <a href="#">Charlene Liu</a>
      </p>
  </div>
</div>
