<div class="page">
  <div class="page-header">
    <h1>{{ title }}</h1>
  </div>
  <div class="page-body">
    <div class="search">
      <app-itune-search> </app-itune-search>
    </div>
    <div class="page-sub-body">
      <div class="page-body__sidebar">
        <app-itune-search-list></app-itune-search-list>
      </div>
      <div class="page-body__details">
        <nav>
          Navigation area
          <a href="#"> item view</a>
          <a routerLink="/record-label">Record Label</a>
          <a routerLink="/artist">Artist</a>
          <a routerLink="/price">Price</a>
        </nav>
        <div class="child-container">
          <router-outlet></router-outlet>
        </div>
        <!-- <app-result-detail [song]="selectedSong"></app-result-detail> -->
      </div>
    </div>
  </div>
  <div class="page-footer">
    Charlene Liu
  </div>
</div>
