.page {
  width: 100%;
  height: 100%;
  padding: 20px;
}
.page-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1140px;
  height: 80px;
  margin: 0 auto;
  font-size: 36px;
  font-weight: 700;
  color: #5F5F5F
}
.page-body {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1140px;
  min-height: calc(100vh - 120px);
  margin: 0 auto;
}
.search {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}
.page-sub-body {
  display: flex;
}
.page-body__sidebar {
  width: 300px;
}
.page-body__details {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin: 10px 5px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
nav a:visited,
a:link {
  color: #334953;
}
nav a:hover {
  color: #039be5;
  background-color: #cfd8dc;
}
nav a.active {
  color: #039be5;
}
.child-container {
  height: 100%;
  padding: 2px;
}
.page-footer {
  padding-top: 10px;
  text-align: center;
  position: fixed;
  background-color:#D5F5E3;
  left: 0;
  bottom: 0;
  width: 100%;
}
.copyright-text {
  font-size: 12px
}
