.wrapper {
  padding: 40px;
  width: 400px;
}
.song-item{
  /* display: flex; */
  border-radius: 7px 7px 7px 7px;
  box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
}
.song-media {
  height: 50%;
  width: 100%;
}
.song-img {
  height: 100%;
  width: 100%;
}
.song-img img{
  border-radius: 7px 0 0 7px;
  height: 100%;
  width: 100%;
}

.song-info {
  height: 50%;
  width: 100%;
  border-radius: 0 7px 10px 7px;
  background-color: #ffffff;
}

.song-text {
  display: grid;
  grid-gap:2em;
  grid-template-columns:
  [labels] auto [controls] 1fr;
  grid-auto-flow: row;
  grid-gap: .8em .5em;
  padding: 1.2em;
}
.song-info h2 {
  text-align: center;
}

.song-info h3 {
  text-align: center;
  font-size: 13px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #85929E;
  letter-spacing: 0.2em;
}

.song-text p {
  font-family: 'Playfair Display', serif;
  color: #8d8d8d;
  line-height: 1.7em;
  font-size: 15px;
  font-weight: lighter;
  overflow: hidden;
}
.song-text .item-name {
  grid-column: labels;
  grid-row: auto;
}
.song-text .item-item {
  grid-column: controls;
  grid-row: auto;
  padding: .4em;
  border: 0;
}
.song-audio {
  width:50%
}